{% extends "_base.html" %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
    <h1>Este es el home</h1>
    <img src="{% static 'image/JJK-Wallpaper 9.png' %}" alt="">
    <!-- {% if user.is_authenticated %}
        <p>Ola {{ user.email }}!!!!!!!!</p>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Log Out</button>
        </form>
    {% else %}
        <P>No estas logeado</P>
        <a href="{% url 'login' %}">Log in</a>
        <a href="{% url 'signup' %}">Sign Up</a> -->
<!-- 
    {% endif %} -->
{% endblock content %}